<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <title>My Shopping Cart</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <!--Scripts-->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-animate.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-aria.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-route.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.4.0/angular-messages.js"></script>
   <script src="https://rawgit.com/dwmkerr/angular-modal-service/master/dst/angular-modal-service.js"></script>

   <!--Angular Custom Files-->
   <script src="script.js"></script>
   <script src="js/controllers/MainController.js"></script>
   <script src="js/services/MainService.js"></script>

   <!--Stylesheets-->
   <link rel="stylesheet" href="./stylesheets/style.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.css">


</head>
<body ng-controller="MainController">

<div ng-init="init('<%= user %>')"></div>
<!--Header -->
<md-toolbar>
 <div class="md-toolbar-tools">
  <p><strong>Shopping Cart</strong></p>
  <md-button ng-click="openSidebar()" ng-if="isAdmin">
   <md-icon class="mdi mdi-plus-circle"></md-icon>
   Add New Product
  </md-button>

  <span flex></span>


  <md-label>
   Cart
  </md-label> &nbsp
  <input type="number" id="cartCount" placeholder="0" style="width: 80px; border: none; background: transparent;" disabled></input>
  <md-button ng-click="checkout()">
   Checkout
  </md-button>
  <md-button ng-href="/logout">
   Logout
  </md-button>
 </div>
</md-toolbar>

<!--Side bar for adding a new product-->

<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
 <md-toolbar>
  <h1 class="md-toolbar-tools">Enter all the fields below: </h1>
 </md-toolbar>

 <md-content layout-padding>
  <form name="addProductForm">
   <md-input-container>
    <label for="title">Title</label>
    <input required name="title" ng-model="product.title" type="text"
           md-no-asterisk  md-autofocus>
    <div ng-messages="addProductForm.title.$error">
     <div ng-message="required">Please enter a valid title.</div>
    </div>
   </md-input-container>
   <md-input-container>
    <label for="price">Price</label>
    <input type="number" id="price"
           ng-model="product.price" md-no-asterisk name="price" ng-pattern="/^[0-9]{1,7}$/" required>
    <div ng-messages="addProductForm.price.$error">
     <div ng-message="required">Please enter a valid price.</div>
     <div ng-message="pattern">Enter values from 1 - 9999999.</div>
    </div>
   </md-input-container>
   <md-input-container>
    <label for="description">Description</label>
    <textarea type="text" id="description"
              ng-model="product.description"  md-no-asterisk name="description"  required>
      <div ng-messages="addProductForm.description.$error">
     <div ng-message="required">Please enter a valid description.</div>
    </div>
    </textarea>
   </md-input-container>
   <md-input-container>
    <label for="quantity">Quantity</label>
    <input type="number" id="quantity"
              ng-model="product.qty" md-no-asterisk name="quantity" ng-pattern="/^[0-9]{1,4}$/"  required>
    <div ng-messages="addProductForm.quantity.$error">
     <div ng-message="required">Please enter a valid quantity.</div>
     <div ng-message="pattern">Enter values from 1 - 9999.</div>
    </div>
    </input>
   </md-input-container>
   <md-input-container>
    <label for="image">Image Link</label>
    <input type="url" id="image"
           ng-model="product.image" md-no-asterisk name="image" ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/"  required>
    <div ng-messages="addProductForm.image.$error">
     <div ng-message="required">Please enter a valid image link.</div>
    </div>
   </md-input-container>
   <br>
   <md-button ng-click="addProduct(product)" ng-disabled="addProductForm.$invalid" class="md-primary">
    Add
   </md-button>
   <md-button ng-click="closeSidebar()" class="md-warn">
    Cancel
   </md-button>
  </form>
 </md-content>
</md-sidenav>

<!--Cards displaying all the products-->

<md-content class="md-padding marginLeft" layout="row" layout-wrap>
 <md-card flex-xs flex-gt-xs="20" ng-repeat="product in products">
  <img ng-src="{{ product.image }}">
  <md-card-content>
   <div class="product-info">
    <h2 ng-hide="product.isEditable" class="md-title">{{ product.title }}</h2>
    <div ng-show="product.isEditable">
     <h4>Title: </h4>
     <input name="title" ng-model="product.title" type="text">
    </div>
    <p ng-hide="product.isEditable">{{ product.description }}</p>
    <div ng-show="product.isEditable">
     <h4>Description: </h4>
     <input name="description" ng-model="product.description" type="text">
    </div>
    <!--<div ng-show="product.isEditable">
     <h4>Image URL: </h4>
     <input name="image" ng-model="product.image" type="url">
    </div>-->
    <div class="row">
     <div class="col-xs-6">
      <h5 ng-hide="product.isEditable">{{ product.price | currency }}</h5>
      <div ng-show="product.isEditable">
       <h4>Price: </h4>
       <input name="price" ng-model="product.price" type="text" style="width: 100px;">
      </div>
     </div>
     <div class="col-xs-6">
      <div ng-if="isAdmin" >
       <h5 ng-hide="product.isEditable">Qty: {{ product.qty }}</h5>
       <div ng-show="product.isEditable">
        <h4>Quantity: </h4>
        <input ng-show="product.isEditable" name="quantity" ng-model="product.qty" type="text" style="width: 100px;">
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="product-admin">
    <hr>
    <div layout="row">
     <md-button class="md-primary" ng-hide="product.isEditable || product.qty<1" ng-click="addToCart(product)">Add to Cart</md-button>
    </div>
    <div layout="row" ng-if="isAdmin" >
     <md-button class="md-primary" ng-click="makeEditable(product)" ng-hide="product.isEditable">Edit</md-button>
     <md-button class="md-primary" ng-click="saveProduct(product)" ng-hide="!product.isEditable">Save</md-button>
     <md-button class="md-primary" ng-click="cancel(product)" ng-hide="!product.isEditable">Cancel</md-button>
     <md-button class="md-warn" ng-click="removeProduct(product)"  ng-hide="product.isEditable">Delete</md-button>
    </div>
   </div>
  </md-card-content>
 </md-card>
</md-content>

</body>

</html>
